@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.section {
    margin-top: 120px;
}

.slider {
    height: 800px;
    background-image: url('img/slider-img.jpg');
    position: relative;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    display: block;
}

.logo {
    margin-top: 63px;
}

.header-menu {
    margin-top: 57px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu a {
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
}

.menu .active-link {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.header-text {
    margin-top: 283px;
}

.header-text p {
    width: 458px;
    margin-bottom: 32px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.header-text h4 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    text-align: left;
    margin-bottom: 22px;
}

.header-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 34px;
    letter-spacing: -3px;
}

.header-text a {
    border-radius: 22.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 10px 31px;
    line-height: 13px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.header-text a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-text a:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 19px;
    width: 1170px;
    justify-content: center;
    align-items: center;
}

.pagination a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.pagination .circle-active {
    background-color: #212121;
    width: 40px;
    height: 40px;
}

.pagination a:hover {
    background-color: #212121;
}

.product-menu li a {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
    letter-spacing: -1px;
}

.product {
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 270px;
    height: 270px;
    position: relative;
}

.item img {
    display: block;
    width: 100%;
}

.explore-link {
    padding: 10px 13px;
    margin-top: 7px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.product-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 270px;
    width: 270px;
    padding: 0 32px;
    box-sizing: border-box;
    opacity: 0;
    transition: .5s ease-out;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.item:hover .product-hover {
    opacity: 0.9;
}

.item:hover .product-link {
    animation-name: fall-down;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.product-link {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin: 0px auto 19px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    animation-name: go-up;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: relative;
}

.product-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-link:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-hover h3 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    cursor: default;
}

.product-hover p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    cursor: default;
}

.promo-container {
    position: relative;
    text-align: left;
}

.promo-container img {
    width: 100%;
}

.promo-container .content {
    position: absolute;
    top: 33%;
    left: 51px;
}

.content h4 {
    color: #1e88e5;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    line-height: 16px;
}

.content h2 {
    margin-top: 12px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 34px;
}

.content p {
    margin-top: 24px;
    margin-bottom: 44px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    width: 374px;
}

.button {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 10px 31px;
    line-height: 13px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.button.button-round {
    border-radius: 22.5px;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@keyframes fall-down {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 62px;
    }
}

@keyframes go-up {
    from {
        margin-top: 62px;
    }
    to {
        margin-top: 0px;
    }
}